{% extends "Home.html" %}

{% block content %}
    <h2 style="color:white">Account</h2>
    
<div class="text-center"><a href="/AccountOperation?operation=Create" class="btn btn-outline-info btn-sm ">Create</a></div>
    <table class="table table-bordered table-striped">
  <thead>
    <tr>
      
      <th scope="col">Account ID</th>
      <th scope="col">Account Type</th>
      <th scope="col">Is Active</th>
      <th scope="col">Action</th>
      
    </tr>
  </thead>
  <tbody>
    {% for row in records %}
        <tr>
            <td>{{ row.accountID }}</td>
            <td>{{ row.accountType}}</td>
            <td>{{ row.isActive}}</td>
        <td>
            <a href="/AccountOperation?operation=Edit&unqid={{row.uniqueID}}" class="btn btn-outline-warning btn-sm ">Edit</a>
        </td>
        </tr>
    {% endfor %}
   </tbody>
</table>
<div class="text-center"><a href="/AccountOperation?operation=Create" class="btn btn-outline-info btn-sm ">Create</a></div>
{% endblock %}




