<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script type=text/javascript>
            $(function() {
                
              console.log("JQuery Running");
            });
        </script>
        <style>
            #div1{
                width:60%;
                margin:0 auto;
            }
        </style>
    </head>
<!------->
    <body class="container" style="background-image:url('static/Dashboard-Background.png')">
        <h3 class="text-center p-b-20 fw-400" style="color:#6b73b3">Delay Tolerant Payment</h3>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#9ebdda">


          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"><img src="static/logo.png" /></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/Dashboard">Home <span class="sr-only">(current)</span></a>
              </li>
                <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Masters
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/EmployeeListing">Employee  </a>
          <a class="dropdown-item" href="/CustomerListing">Customer</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/LoanProductListing">Loan Product  </a>
          <a class="dropdown-item" href="/DepositProductListing">Deposit Product  </a>
        </div>
      </li>


              <li class="nav-item active">
                <a class="nav-link" href="/AccountListing">Account Info</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/TransactionListing">Transaction</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Blockchain
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/BlockChainGeneration">Blockchain Generation</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/BlockChainReport">Blockchain Report</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  System
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/RoleListing">Role</a>
                  <a class="dropdown-item" href="/UserListing">User</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/ChangePassword">Change Password</a>
                </div>
              <li class="nav-item">
                <a class="nav-link" href="/">Logout</a>
              </li>
            </ul>

          </div>
        </nav>
        <br/>
        <div class="content container">
            {% block content %}

            {% endblock  %}
        </div>
        <img src="C:\Users\priya\Documents\LiClipse Workspace\delay-tolerant\src\templates\Dashboard image.jpg">

    </body>

</html>