{% extends "Home.html" %}

{% block content %}
    <h2 style="color:white">VehicleListing</h2>
    
<div class="text-center"><a href="/UserOperation?operation=Create" class="btn btn-outline-info btn-sm ">Create</a></div>
    <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">Role Name</th>
      <th scope="col">User Name</th>
      <th scope="col">Is Active</th>
      <th scope="col">Action</th>
      
    </tr>
  </thead>
  <tbody>
    {% for row in records %}
        <tr>
            <td>{{ row.roleModel.roleName }}</td>
            <td>{{ row.userName }}</td>
            <td>{{ row.isActive}}</td>
        <td>
            <a href="/UserOperation?operation=Edit&unqid={{row.userID}}" class="btn btn-outline-warning btn-sm ">Edit</a>
            <a href="/UserOperation?operation=Delete&unqid={{row.userID}}" class="btn btn-outline-warning btn-sm ">Delete</a>
        </td>
        </tr>
    {% endfor %}
   </tbody>
</table>
<div class="text-center"><a href="/UserOperation?operation=Create" class="btn btn-outline-info btn-sm ">Create</a></div>
{% endblock %}




